{% extends '@App/base.html.twig' %}

{% block content %}
    <div class="form-group">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
            {{ form_row(form.firstName, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_row(form.lastName, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_row(form.street, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_row(form.streetNumber, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_row(form.zip, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_row(form.country, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_row(form.phoneNumber, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_row(form.birthday, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_row(form.email, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_row(form.picture, { 'attr': { 'class': 'form-control' }}) }}
            <br><br>
            <input type="submit" value="Save" class="btn btn-primary">
            <a href="{{ path('address_homepage') }}" class="btn badge-danger">Back</a>
        {{ form_end(form) }}
    </div>
{% endblock %}