{% extends '@App/base.html.twig' %}
{% block content %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    {% for address in addresses %}
        <div class="item">
            <div class="address">
                {% if address.getPicture is not empty %}
                    <img src="{{ asset('public/uploads/images/' ~ address.getPicture) }}" width="200" height="100"
                         alt="Face"/>
                {% endif %}
                <p>First Name: {{ address.getFirstName }}</p>
                <p>Last Name: {{ address.getLastName }}</p>
                <p>Email: {{ address.getEmail }}</p>
                <br>
            </div>
            <a href="{{ path('address_edit', {'id': address.id}) }}">Edit</a>
            <a href="{{ path('address_delete', {'id': address.id}) }}">Remove</a>
        </div>
    {% endfor %}
    <div><a href="{{ path('address_create') }}">Add Entry</a></div>
{% endblock %}
